<% def quicksort(arr)
     return arr if arr.length <= 1
     pivot = arr[arr.length / 2]
     left = arr.select { |x| x < pivot }
     mid = arr.select { |x| x == pivot }
     right = arr.select { |x| x > pivot }
     quicksort(left) + mid + quicksort(right)
   end
   sorted = quicksort([3, 6, 8, 10, 1, 2, 1])
%>
<ul>
<% sorted.each do |x| %>
  <li><%= x %></li>
<% end %>
</ul>
